<ul><h1><%= @place.name %></h1></ul>
<br>
<ul>
    <% for post in @posts %>
    <h2><%= post.title %></h2>
    <p><%= post.posted_on %></p>
    <p><%= post.description %></p>
    <br>
    <% end %>
</ul>
<br>
<br>
<ul>
    <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</ul>
<br>
<p>
    <a href="/places">Back to Places I've Been</a>
</p>